{
  "nodeUrl": "https://telos.caleos.io",
  "oracleName": "caleosblocks",
  "oraclePermission": "active",
  "privateKey": "    THE KEY       ",
  "contractAccount": "delphioracle",
  "contractAction": "write"
}
